/* Universal Styles */
html {
    font-family: Helvetica, sans-serif, Arial;
    color: rgb(213, 207, 202);
    background-color: black;
    text-align: center;
}

/* Header */
header {

}


/* Nav */
.nav {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center; /* Align items vertically in the center */
    
}

 .logo {
    height: 50px;
    margin-left: 10px;
 }

.nav ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    margin-right: 10px;

}

.nav li {
    margin-right: 10px;   
}

.nav img {
    margin-left: 10px;
}



/* Header */
.header {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1vgkalz*_ga*ODk2MDMzNzA0My4xNjg3MjEzNzM1*_ga_3LRZM6TM9L*MTcwNzAwNjUwNS41OS4xLjE3MDcwMDY1MTEuNTQuMC4w);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: 20px;
}

.rectangle {
    display: flex;
    background-color: black;
    flex-direction: column; 
    width: 100%;

}

/* Tea of the Month */

.tea-month {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: auto; /* Center the container horizontally */
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tea {
    width: 300px; 
    height: 200px;
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}


/* Footer */