/* Universal Styles */
html {
    font-family: Helvetica, sans-serif, Arial;
    color: seashell;
    background-color: black;
    text-align: center;
}

/* Header */
header {

}

main.banner {

}

/* Nav */
.nav {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center; /* Align items vertically in the center */
    
}

.nav ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    margin-right: 10px;
    text-sp

}

.nav li {
    margin-right: 10px;
    
}

.nav img {
    margin-left: 10px;
    
}



/* Section */


/* Section */


/* Footer */